body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e7e7e7;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Handlee', cursive;
}

button.btn {
  margin-right: 4px;
}

.panel-group .panel {
  margin-bottom: 10px;
}

.panel {
  border: 2px solid transparent;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success > .panel-heading {
  color: #333;
}

li.list-group-item {
  font-family: 'Raleway', sans-serif;
}

.well {
  margin-top: 5px;
}

header {
  margin-top: 5px;
  padding: 2em 0 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff970;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}

.search-input::before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 11px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 22px;
  padding: 5px 10px 5px 25px;
  height: 32px;
  position: relative;
}
